.about-image-container {
  text-align: center;
}

.mm-logo {
  height: 450px;
  width: 450px;
}

.about-text {
  margin: 10px 15px;
}

.my-color {
  color: #e5d20d;
}
.movies-color {
  color: #153c5e;
}
